.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.ui.card > .content p,
.ui.cards > .card > .content p {
  margin: 2rem;
  font-size: 20px;
  font-style: italic;
}

b {
  font-style: normal;
  font-size: 25px;
  padding: 3px;
}

.ui.card > .content a:not(.ui),
.ui.cards > .card > .content a:not(.ui) {
  margin-left: 10px;
}
